# Forces all text files in the repository to use LF.
* text=auto eol=lf

.bundle/** linguist-vendored
.vscode/** linguist-vendored
.github/** linguist-vendored
.devcontainer/** linguist-vendored
tools/** linguist-vendored

*.js linguist-vendored
*.sh linguist-vendored

# Tell Linguist what IS the project
_pages/** linguist-detectable
_posts/** linguist-detectable
_pixels/** linguist-detectable
_data/** linguist-detectable

# Force as the main
*.md linguist-detectable
*.yml linguist-detectable

# Extra guarantee
*.md linguist-language=Markdown
