@use "../utils" as *;
@use "../base/components";

.layout_post {
    @extend .content_text_font_size;
    &__header, &__content, &__footer, &__disqus{
        @extend .elements_box;
    }
    &__comments{
        background-color: $texts__background;
        color: $color__text;
        font-size: 1rem;
        // &-count{}
    }
    &__share-link {

        &--text{
            visibility: hidden;
            font-size: 14px;
            position: absolute;
            top: 65px;
            left: 50%;
            -moz-transform: translate(-50%, 0%);
            -o-transform: translate(-50%, 0%);
            -ms-transform: translate(-50%, 0%);
            -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
        }

        &:hover{
            .layout_post__share-link--text {
              visibility: visible;
            }
        }

    }
    &__share-icon{
        font-size: 50px;
        margin: 15px 0px;
    }
    &__author{
        &-img{
            border-radius: 50%;
            border: 1px solid $color__text;
            padding: 3px;
        }
    }

}