$theme-colors: (
  bg: #181818,
  // default text: #bfbfbf;
  text: #d5d5d5,
  text-muted: #9b9b9b,
  // default primary: #66c9e2 | #61b8b8
  // primary dark blue: #668be2
  // primary grovbox: #ebdbb2
  // primary oliva: #639e5b
  // primary oliva2: #75a683
  // primary opaque aqua fosco: #61b8b8
  // primary opaque aqua 2: #4ce4c8
  // primary opaque aqua 3: #5ebdac
  primary: #7cecec,
  shadow-color: rgba(0, 0, 0, 0.1),
  code-color: #f55ca8,
  code-block-header-color: #141414,
  border-color: #373737,
  scrollbar-color: rgba(255, 255, 255, 0.534),
  blockquote-bg-color: #131313,
  footer-border-color: #020202,
  footer-bg-color: #111111,
  terminal-shadow: 0 10px 30px rgba(0, 0, 0, 0.7),
  sumary-bg-color: #303030,
  checkbox-border-color: #2b2b2b,
  checkbox-border-color-after: #999999,
  table-border-color: #a5a5a5,
  table-color: #bfbfbf,
  table-tr-bg-color: #131313,
  table-tr-border-color: #585858,
  table-td-border-color: #585858,
  table-tr-odd-bg-color: #313131,
  table-tr-even-bg-color: #181818,
  terminal-color: #97ff97,
  terminal-bg-color: #000000,
  terminal-border-color: #1a1a1a,
  terminal-btn-close-bg-color: #0bff55,
  terminal-btn-min-bg-color: #0b9e3a,
  terminal-btn-max-bg-color: #0b6b2a,
  terminal-title-color: #4b8f3e,
  terminal-screen-text-shadow: "0 0 5px #00FF41, 0 0 10px #00B831",
  terminal-screen-after-bg-color: "repeating-linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5) 1px, transparent 1px,transparent 3px)",
  terminal-header-border-bottom-color: rgba(56, 56, 56, 0.5),
  terminal-prompt-text-color: #97ff97,
  terminal-screen-text-transform: uppercase,
  terminal-cursor-color: #7cff6b,
  terminal-screen-link-color: aqua,
  details-bg-color: #383838,
  video-border-color: #333333,
  chart-bg-color: #fff,
  chart-box-shadow-color: rgba(0, 0, 0, 0.9),
  tabs-bg-color: #303030,
  tabs-color: var(--text-color),
  tabs-border-color: #555555,
  tabs-nav-border-color: #222,
  tab-btn-color: var(--primary-color),
  tab-btn-color-hover: var(--text-color),
  tab-btn-color-active: #e0e0e0,
  resume-bg-color: #111,
  resume-border-color: #000000,
  resume-title-text-color: white,
  resume-content-text-color: #d3d3d3,
  resume-text-muted-color: #9d9d9d,
  content-bg: #151515,
);

/* matrix */
// $theme-colors: (
//   bg: #000400,
//   text: #00ff00,
//   text-muted: #9b9b9b,
//   primary: #ffffff,
//   shadow-color: rgba(0,0,0,0.1),
//   code-color: #f55ca8,
//   code-block-header-color: #020702,
//   border-color: #373737,
//   scrollbar-color: rgba(255, 255, 255, 0.534),
//   blockquote-bg-color: #131313,
//   footer-border-color: #020202,
//   footer-bg-color: #111111,
//   terminal-shadow: 0 10px 30px rgba(0,0,0,0.7),
//   sumary-bg-color: #1f1f1f,
// );
