$theme-colors: (
  bg: #f3f3f3,
  // bg default: #f3f3f3
  text: #020202,
  text-muted: #3e3e3e,
  primary: #a00,
  shadow-color: rgba(0, 0, 0, 0.1),
  code-color: #db3688,
  code-block-header-color: #f5f5f5,
  border-color: #dfdfdf,
  scrollbar-color: rgba(0, 0, 0, 0.18),
  blockquote-bg-color: #e4e4e4,
  footer-border-color: #e4e4e4,
  footer-bg-color: #f3f3f3,
  terminal-shadow: 0 10px 30px rgba(0, 0, 0, 0.7),
  sumary-bg-color: #fbfbfb,
  checkbox-border-color: #d3d3d3,
  checkbox-border-color-after: #1f1f1f,
  table-border-color: #a5a5a5,
  table-color: #020202,
  table-tr-bg-color: #d8d8d8,
  table-tr-border-color: #949494,
  table-td-border-color: #949494,
  table-tr-odd-bg-color: #f3f3f3,
  table-tr-even-bg-color: #e7e7e7,
  terminal-color: #131313,
  terminal-bg-color: #ffffff,
  terminal-border-color: #aaaaaa,
  terminal-btn-close-bg-color: #5c5c5c,
  terminal-btn-min-bg-color: #747474,
  terminal-btn-max-bg-color: #949494,
  terminal-title-color: #252525,
  terminal-screen-text-shadow: none,
  terminal-screen-after-bg-color: none,
  terminal-header-border-bottom-color: rgba(206, 206, 206, 0.5),
  terminal-prompt-text-color: #000000,
  terminal-screen-text-transform: none,
  terminal-cursor-color: #020202,
  terminal-screen-link-color: var(--primary-color),
  details-bg-color: #fbfbfb,
  video-border-color: #c9c9c9,
  chart-bg-color: #fff,
  chart-box-shadow-color: rgba(0, 0, 0, 0.7),
  tabs-bg-color: #fdfdfd,
  tabs-color: var(--text-color),
  tabs-border-color: #cfcfcf,
  tabs-nav-border-color: #757575,
  tab-btn-color: var(--primary-color),
  tab-btn-color-hover: var(--text-color),
  tab-btn-color-active: #303030,
  resume-bg-color: white,
  resume-border-color: #ddd,
  resume-title-text-color: black,
  resume-content-text-color: #222,
  resume-text-muted-color: #555,
);
