@use "theme" as theme;

%font_style {
  font-size: 12px !important;
  font-family: monospace !important;
}

%terminal_font_style {
  @extend %font_style;
  a {
    color: #00e;
    @extend %font_style;
    font-weight: normal !important;
  }
  h1,h2,h3 {
    @extend %font_style;
  }
  blockquote {
    @extend %font_style;
  }
  p {
    @extend %font_style;
  }
}

body {
  background-color: white !important;
  @extend %terminal_font_style;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.terminal {
  width: min(960px, 96%);
  color: var(--terminal-color);
  max-width: 1100px;
  border-radius: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 500px;
  max-height: 500px;
  background-color: var(--terminal-bg-color); // default: #040902
  overflow-y: hidden;
  @extend %terminal_font_style;

  &-fullscreen {
    // position: fixed;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    width: 100% !important;
    height: auto !important;
    max-height: none !important;
    max-width: none !important;
    border-radius: 0 !important;
    z-index: 100;
     @extend %terminal_font_style;
  }

  &-screen {
    overflow-y: auto;

    &::after {
      content: "";
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
      background-size: 100% 4px;
      opacity: 0.7;
    }

    .line-wrapper {
      color: var(--text-color);
      margin: 10px 0px !important;
      @extend %terminal_font_style;

      #mcmd,
      #mdesc {
        font-weight: bold;
        margin-bottom: 10px;
        text-decoration: underline;
         @extend %terminal_font_style;
      }

      #mcmd {
        margin-right: 100px;
         @extend %terminal_font_style;
      }

    }

    .line {
      white-space: pre;
      display: flex;
      align-items: center;
      line-height: 1.4;
      @extend %terminal_font_style;
    }

    .prompt {
      color: var(--terminal-prompt-text-color);
      margin-right: 5px;
      @extend %terminal_font_style;
    }

    .input-wrapper {
      position: relative;
      display: inline-block;
      flex: 1;
      min-width: 50px;
       @extend %terminal_font_style;

      span {
        @extend %terminal_font_style;
      }
    }

    .input {
      background: transparent;
      border: none;
      outline: none;
      color: var(--terminal-prompt-text-color);
      caret-color: transparent;
      /* esconder caret real */
      width: 100%;
      padding: 0;
      margin: 0;
      white-space: nowrap;
      text-transform: var(--terminal-screen-text-transform);
      text-shadow: var(--terminal-screen-text-shadow);
       @extend %terminal_font_style;
    }

    .input-wrapper, .prompt , .input {
      font-size: 15px !important;
      font-weight: bold;
    }
    .input-wrapper {
      span {
        font-size: 15px !important;
        font-weight: bold;
      }
    }

    .measure {
      position: absolute;
      top: 0;
      left: 0;
      visibility: hidden;
      white-space: pre;
      pointer-events: none;
      @extend %terminal_font_style;
    }

    .cursor {
      position: absolute;
      top: 2px;
      left: 0;
      width: 9px;
      height: 18px;
      background-color: var(--terminal-cursor-color);
      border-radius: 2px;
      animation: blink 1s steps(2, end) infinite;
      pointer-events: none;
      transform: translateY(0.2px);
      z-index: 2;
       @extend %terminal_font_style;
    }

    .scanlines {
      position: absolute;
      inset: 0;
      pointer-events: none;
      background-image: repeating-linear-gradient(180deg, rgba(0, 255, 0, 0.01) 0 1px, transparent 1px 3px);
      mix-blend-mode: overlay;
      opacity: 0.45;
      z-index: 5;
       @extend %terminal_font_style;
    }
  }


  .wrap-term {
    max-width: 400px !important;
    margin-left: 7px !important;
    margin-top: -1px !important;
  }
  .home-terminal {
    max-width: 400px !important;
  }
}


// themes
:root[data-theme="light"] {
  --bg-color: #{theme.theme-color(bg, light)};
  --text-color: #{theme.theme-color(text, light)};
  --text-muted-color: #{theme.theme-color(text-muted, light)};
  --primary-color: #{theme.theme-color(primary, light)};
  --shadow-color: #{theme.theme-color(shadow-color, light)};
  --code-block-header-color: #{theme.theme-color(code-block-header-color, light)};
  --code-color: #{theme.theme-color(code-color, light)};
  --border-color: #{theme.theme-color(border-color, light)};
  --scrollbar-color: #{theme.theme-color(scrollbar-color, light)};
  --blockquote-bg-color: #{theme.theme-color(blockquote-bg-color, light)};
  --footer-border-color: #{theme.theme-color(footer-border-color, light)};
  --footer-bg-color: #{theme.theme-color(footer-bg-color, light)};
  --terminal-shadow: #{theme.theme-color(terminal-shadow, light)};
  --sumary-bg-color: #{theme.theme-color(sumary-bg-color, light)};
  --checkbox-border-color: #{theme.theme-color(checkbox-border-color, light)};
  --checkbox-border-color-after: #{theme.theme-color(checkbox-border-color-after, light)};
  --table-border-color: #{theme.theme-color(table-border-color, light)};
  --table-color: #{theme.theme-color(table-color, light)};
  --table-tr-bg-color: #{theme.theme-color(table-tr-bg-color, light)};
  --table-tr-border-color: #{theme.theme-color(table-tr-border-color, light)};
  --table-td-border-color: #{theme.theme-color(table-td-border-color, light)};
  --table-tr-odd-bg-color: #{theme.theme-color(table-tr-odd-bg-color, light)};
  --table-tr-even-bg-color: #{theme.theme-color(table-tr-even-bg-color, light)};
  --terminal-color: #{theme.theme-color(terminal-color, light)};
  --terminal-bg-color: #{theme.theme-color(terminal-bg-color, light)};
  --terminal-border-color: #{theme.theme-color(terminal-border-color, light)};
  --terminal-btn-close-bg-color: #{theme.theme-color(terminal-btn-close-bg-color, light)};
  --terminal-btn-min-bg-color: #{theme.theme-color(terminal-btn-min-bg-color, light)};
  --terminal-btn-max-bg-color: #{theme.theme-color(terminal-btn-max-bg-color, light)};
  --terminal-title-color: #{theme.theme-color(terminal-title-color, light)};
  --terminal-screen-text-shadow: #{theme.theme-color(terminal-screen-text-shadow, light)};
  --terminal-screen-after-bg-color: #{theme.theme-color(terminal-screen-after-bg-color, light)};
  --terminal-header-border-bottom-color: #{theme.theme-color(terminal-header-border-bottom-color, light)};
  --terminal-prompt-text-color: #{theme.theme-color(terminal-prompt-text-color, light)};
  --terminal-screen-text-transform: #{theme.theme-color(terminal-screen-text-transform, light)};
  --terminal-cursor-color: #{theme.theme-color(terminal-cursor-color, light)};
  --terminal-screen-link-color: #{theme.theme-color(terminal-screen-link-color, light)};
  --details-bg-color: #{theme.theme-color(details-bg-color, light)};
  --video-border-color: #{theme.theme-color(video-border-color, light)};
  --chart-bg-color: #{theme.theme-color(chart-bg-color, light)};
  --chart-box-shadow-color: #{theme.theme-color(chart-box-shadow-color, light)};
  --tabs-bg-color: #{theme.theme-color(tabs-bg-color, light)};
  --tabs-color: #{theme.theme-color(tabs-color, light)};
  --tabs-border-color: #{theme.theme-color(tabs-border-color, light)};
  --tabs-nav-border-color: #{theme.theme-color(tabs-nav-border-color, light)};
  --tab-btn-color: #{theme.theme-color(tab-btn-color, light)};
  --tab-btn-color-hover: #{theme.theme-color(tab-btn-color-hover, light)};
  --tab-btn-color-active: #{theme.theme-color(tab-btn-color-active, light)};
  --resume-bg-color: #{theme.theme-color(resume-bg-color, light)};
  --resume-title-text-color: #{theme.theme-color(resume-title-text-color, light)};
  --resume-content-text-color: #{theme.theme-color(resume-content-text-color, light)};
  --resume-text-muted-color: #{theme.theme-color(resume-text-muted-color, light)};
  --resume-border-color: #{theme.theme-color(resume-border-color, light)};
}

:root[data-theme="dark"] {
  --bg-color: #{theme.theme-color(bg, dark)};
  --text-color: #{theme.theme-color(text, dark)};
  --text-muted-color: #{theme.theme-color(text-muted, dark)};
  --primary-color: #{theme.theme-color(primary, dark)};
  --shadow-color: #{theme.theme-color(shadow-color, dark)};
  --code-color: #{theme.theme-color(code-color, dark)};
  --code-block-header-color: #{theme.theme-color(code-block-header-color, dark)};
  --border-color: #{theme.theme-color(border-color, dark)};
  --scrollbar-color: #{theme.theme-color(scrollbar-color, dark)};
  --blockquote-bg-color: #{theme.theme-color(blockquote-bg-color, dark)};
  --footer-border-color: #{theme.theme-color(footer-border-color, dark)};
  --footer-bg-color: #{theme.theme-color(footer-bg-color, dark)};
  --terminal-shadow: #{theme.theme-color(terminal-shadow, dark)};
  --sumary-bg-color: #{theme.theme-color(sumary-bg-color, dark)};
  --checkbox-border-color: #{theme.theme-color(checkbox-border-color, dark)};
  --checkbox-border-color-after: #{theme.theme-color(checkbox-border-color-after, dark)};
  --table-color: #{theme.theme-color(table-color, dark)};
  --table-tr-bg-color: #{theme.theme-color(table-tr-bg-color, dark)};
  --table-tr-border-color: #{theme.theme-color(table-tr-border-color, dark)};
  --table-td-border-color: #{theme.theme-color(table-td-border-color, dark)};
  --table-tr-odd-bg-color: #{theme.theme-color(table-tr-odd-bg-color, dark)};
  --table-tr-even-bg-color: #{theme.theme-color(table-tr-even-bg-color, dark)};
  --terminal-color: #{theme.theme-color(terminal-color, dark)};
  --terminal-bg-color: #{theme.theme-color(terminal-bg-color, dark)};
  --terminal-border-color: #{theme.theme-color(terminal-border-color, dark)};
  --terminal-btn-close-bg-color: #{theme.theme-color(terminal-btn-close-bg-color, dark)};
  --terminal-btn-min-bg-color: #{theme.theme-color(terminal-btn-min-bg-color, dark)};
  --terminal-btn-max-bg-color: #{theme.theme-color(terminal-btn-max-bg-color, dark)};
  --terminal-title-color: #{theme.theme-color(terminal-title-color, dark)};
  --terminal-screen-text-shadow: #{theme.theme-color(terminal-screen-text-shadow, dark)};
  --terminal-screen-after-bg-color: #{theme.theme-color(terminal-screen-after-bg-color, dark)};
  --terminal-header-border-bottom-color: #{theme.theme-color(terminal-header-border-bottom-color, dark)};
  --terminal-prompt-text-color: #{theme.theme-color(terminal-prompt-text-color, dark)};
  --terminal-screen-text-transform: #{theme.theme-color(terminal-screen-text-transform, dark)};
  --terminal-cursor-color: #{theme.theme-color(terminal-cursor-color, dark)};
  --terminal-screen-link-color: #{theme.theme-color(terminal-screen-link-color, dark)};
  --details-bg-color: #{theme.theme-color(details-bg-color, dark)};
  --video-border-color: #{theme.theme-color(video-border-color, dark)};
  --chart-bg-color: #{theme.theme-color(chart-bg-color, dark)};
  --chart-box-shadow-color: #{theme.theme-color(chart-box-shadow-color, dark)};
  --tabs-bg-color: #{theme.theme-color(tabs-bg-color, dark)};
  --tabs-color: #{theme.theme-color(tabs-color, dark)};
  --tabs-border-color: #{theme.theme-color(tabs-border-color, dark)};
  --tabs-nav-border-color: #{theme.theme-color(tabs-nav-border-color, dark)};
  --tab-btn-color: #{theme.theme-color(tab-btn-color, dark)};
  --tab-btn-color-hover: #{theme.theme-color(tab-btn-color-hover, dark)};
  --tab-btn-color-active: #{theme.theme-color(tab-btn-color-active, dark)};
  --resume-bg-color: #{theme.theme-color(resume-bg-color, dark)};
  --resume-title-text-color: #{theme.theme-color(resume-title-text-color, dark)};
  --resume-content-text-color: #{theme.theme-color(resume-content-text-color, dark)};
  --resume-text-muted-color: #{theme.theme-color(resume-text-muted-color, dark)};
  --resume-border-color: #{theme.theme-color(resume-border-color, dark)};
}
