/* Theme Typing - Default
––––––––––––––––––––––––––––––––––––––––––––––––––  */
@use "../utils" with (
  // Default
  $typing_theme: (

    // Fonts
    font-family__primary: ('Special Elite', cursive),
    font-family__secondary: ('Special Elite', cursive),
    font-family__third: ('Open Sans', sans-serif),
    font-family__terminal: ('Inconsolata', monospace),

    // Default
    background__full: #e4ca91,
    elements__background: #ffe6b0,
    color__clickable: #D7101E,
    color__text: #000,
    texts__background: rgba(216, 201, 202, 0.42),
    hr__color: #000,
    elements__box_border_color: transparent,
    terminal__shadow_color: #000,
    buttons__color: #fff,

    // Keyframes
    keyframe__pulse_color_primary: rgba(250, 35, 49, 0.158),
    keyframe__pulse_color_secondary: rgba(250, 35, 49, 0.103),

    // Highlighter
    highlight__background: #e2c689,
    highlight__border_color: #e2c689,
    highlight__color: #000,

    // Footer
    footer__bg: #fff,

    // Blockquote
    blockquote__background: #e4ca91,

    // Table
    table__thead_th_background: #e4ca91,
    table__thead_th_color: #000,
    table__thead_th_border: #1d1d1d,
    table__tbody_td_background: #e4ca91,
    table__tbody_td_color: #000,
    table__tbody_td_border: #1b1b1b,

    // Gist theme
    gist__background: #e4ca91,
    gist__code_color: black,
    gist__border: #e4ca91 #e4ca91 #e4ca91,
    gist__ln_background: #e4ca91,
    gist__ln_color: black,
    gist__meta_color: black,
    gist__meta_link_color: #D7101E,
    gist__comment_color: #386931,
    gist__function_color: #246194,
    gist__fn_color: #ad8500,
    gist__string_color: #c55829,
    gist__var_color: #132b44,
  )
);
