@use "../components/index";

.blog {
  // TODO: version: 0.2.0 - Create background light
  // box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  // border: 1px solid #ddd;
  // background-color: white;
  // padding: 20px 10px;

  &-subtitle {
    font-size: 1.05rem;
    font-weight: bold;
    margin: 0px 0px 10px 0px;
  }

  &-list {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin: 5px 0px;

      @media (max-width: 578px) {
        line-height: 1.5rem;
      }
    }

    &__item {
      .draft-badge {
        @extend %draft-badge;
      }
    }

    &__meta {
      display: inline-block;
      min-width: 115px !important;
      font-family: "SUSE Mono", sans-serif;
      font-optical-sizing: auto;
      font-style: normal;
      line-height: 1rem;
      color: var(--text-muted-color);

      @media (max-width: 578px) {
        display: none;
      }
    }

    &__link {
      text-transform: none !important;
      font-weight: bold;
      text-decoration: underline;
    }
  }

  &-search {
    display: block;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 400ms ease, opacity 300ms ease;
    pointer-events: none;

    &.is-open {
      opacity: 1;
      pointer-events: auto;
    }

    &__wapper {
      display: flex;
      align-items: center;
      gap: 0;
      margin: 0px 0px 35px 0px;

      .blog-search__input {
        flex: 1;
        padding: 0.5rem;
        color: var(--text-color);
        width: 100%;
        box-shadow: none;
        border: none;
        border-radius: 4px 0 0 4px;
        border-bottom: 1px solid var(--text-color);
        outline: none;
        border-radius: 0px;
        background-color: transparent;
        height: auto;
      }

      .blog-search__btn-clean {
        @extend %button;
      }

    }
  }
}
