.default {
  margin: 0 auto;
  transition: transform 0.3s ease;

  .content {
    margin-bottom: 30px !important;
    border: 2px dotted;
    padding: 20px 0px;
    background-color: var(--content-bg);
  }

  .content code,
  .content pre {
    text-transform: none !important;
  }

}
