@use "../components/index";

.post {
  @extend %markdown;
  margin-bottom: 35px;

  li {
    list-style: disc;
  }

  .comments {
    &-title {
      font-size: 1rem !important;
    }
  }

  &-reading_time {
    color: var(--text-muted-color);
    margin: 12px 0px;
  }

  &-title {
    margin-top: 0px !important;
    font-size: 1.3rem !important;
    font-weight: bold;
    margin-bottom: 40px !important;
  }

  &-meta,
  &-modified {
    margin-bottom: 12px;
    color: var(--text-muted-color);
  }

  &-modified {
    margin-top: 30px;
  }

  .dt-published,
  .dt-modified {
    font-weight: normal !important;
    // font-family: "SUSE Mono", sans-serif;
    color: var(--text-muted-color);
  }

  &-content {
    p::first-letter {
      text-transform: uppercase;
    }
  }

  .related-posts {
    margin-bottom: 80px;

    li {
      list-style: none !important;
    }

    &-title {
      font-size: 1.05rem;
      font-weight: bold;
      margin: 35px 0px 10px 0px;
    }

    &-list {
      &__item {
        list-style: none;
        padding: 0;
        margin: 0;

        .draft-badge {
          @extend %draft-badge;
        }
      }

      &__meta {
        display: inline-block;
        // min-width: 115px !important;
        // font-family: "SUSE Mono", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        line-height: 1rem;
        color: var(--text-muted-color);
      }

      &__link {
        text-decoration: underline;
      }
    }
  }

  &-end {
    margin: 40px 0px;
    font-size: 1.2rem;
  }
}
