/* Stylesheets for layout Resume
––––––––––––––––––––––––––––––––––––––––––––––––––  */

.layout_resume{
  animation-name: fade;
  animation-duration: 500ms;
  &__excerpt{
    margin: 5% 0% 15% 0%;
    // &-text{}
  }
  &__header{
    margin-bottom: 50px;
  }
  &__content{
    // Image resolution: 375x500
    .img_cv{
      float: right;
      margin-right: 50px;
      margin-top: -95px;
      img{
        width: 120px;
        height: auto;
      }
    }
    font-size: $font-size__layout_resume_content;
    hr{
      border-top: 1px solid rgba(0, 0, 0, 0.59);
    }
    h2{
      border-bottom: 1px solid $color-text;
      padding-bottom: 5px;
    }
  }
  &__badge{
    background-color: $badge-resume-bg;
    color: $badge-resume-color;
  }
}
