{%- if site.blog.post.comments.giscus.repo != "" and site.blog.post.comments.giscus.category_id != "" -%}
<div class="row comments">
  <h1 class="comments-title">[&nbsp;{{ site.strings.post.comments | default: "comments" }}&nbsp;]</h1>
  <div class="row comments-content">
    <script src="https://giscus.app/client.js"
      data-repo="{{ site.blog.post.comments.giscus.repo }}"
      data-repo-id="{{ site.blog.post.comments.giscus.repo_id }}"
      data-category-id="{{ site.blog.post.comments.giscus.category_id }}"
      data-mapping="{{ site.blog.post.comments.giscus.mapping | default: 'pathname' }}"
      data-strict="0"
      data-reactions-enabled="{{ site.blog.post.comments.giscus.reactions_enabled | default: 1 }}"
      data-emit-metadata="0"
      data-input-position="bottom"
      data-theme="{{ site.blog.post.comments.giscus.theme_light | default: 'light' }}"
      data-lang="{{ site.blog.post.comments.giscus.lang | default: 'en' }}"
      crossorigin="anonymous"
      async>
    </script>
  </div>
</div>
{%- endif -%}
