{% include layout/data.liquid %}

<!DOCTYPE html>
<html lang="{{ default_.lang | default: 'en-US' }}" data-theme="light">
  {%- include layout/head.html -%}
  <body>
    <div class="mt-4 maintenance" style="font-family: {{ default_.font.style }} !important; font-size: {{ default_.font.size }} !important; letter-spacing:{{ default_.font.spacing }} !important;">
      <div class="container">
        {%- if maintenance_.gif != "" -%}
        <div class="row">
          <div class="col-sm text-center">
            <img class="maintenance-gif" src="{{ maintenance_.gif | relative_url }}" alt="under maintenance">
          </div>
        </div>
        {%- endif -%}
        <div class="row mt-5 text-center">
          <h1 class="maintenance-title">[&nbsp;{{ maintenance_.title }}&nbsp;]</h1>
        </div>
        <div class="row text-center">
          <h3 class="maintenance-subtitle">{{ maintenance_.subtitle | markdownify }}</h3>
        </div>
      </div>
    </div>
    {%- include layout/footer.html -%}
  </body>
</html>
