{% include layout/data.liquid %}

{%- if page.pagination.enabled == true and site.pagination.enabled == true -%}
  {%- assign total_page = paginator.total_pages -%}
  {%- if total_page > 1 -%}
    <nav>
      <ul class="pagination justify-content-center blog-pagination">
        {%- if paginator.previous_page -%}
        <li class="page-item">
          <a class="page-link blog-pagination__newer" href="{{ paginator.previous_page_path | prepend: site.baseurl | prepend: site.url }}">
            &larr;&nbsp;{{ blog_.pagination.newer_text }}
          </a>
        </li>
        {%- endif -%}

        {%- if total_page > 1 -%}
          <li class="page-item">
            <span class="page-link blog-pagination__counter">
              [&nbsp;{{ blog_.pagination.counter[0] }}
              {{ paginator.page }}
              {{ blog_.pagination.counter[1] }}
              {{ total_page }}&nbsp;]
            </span>
          </li>
        {%- endif -%}

        {%- if paginator.next_page -%}
        <li class="page-item">
          <a class="page-link blog-pagination__older" href="{{ paginator.next_page_path | prepend: site.baseurl | prepend: site.url }}">
            {{ blog_.pagination.older_text }}&nbsp;&rarr;
          </a>
        </li>
        {%- endif -%}
      </ul>
    </nav>
  {%- endif -%}
{%- endif -%}
