---
layout: default
---

{%- include layout/data.liquid -%}

{%- if head_.google.recaptcha.pubkey and head_.google.apps_script.url -%}

<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<div id="contact" class="contact{% if default_.background_focus %} background_focus{% endif %} {% if default_.rounding %} rounding{% endif %}">

  <div class="modal fade"
    id="contactMessageModal"
    tabindex="-1"
    aria-labelledby="contactMessageModalLabel"
    aria-hidden="true"
    data-bs-backdrop="static"
    data-bs-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="contactMessageModalLabel"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <span class="contact-title"><strong>[&nbsp;{{ page.title | downcase }}&nbsp;]</strong></span>
    <form id="contactForm" class="mt-4 contact-form">
      <div class="mb-3">
        <input id="inputName"
        name="name"
        type="text"
        placeholder="{{ contact_.name.placeholder | default: 'First and last name' }}"
        class="form-control contact-form__name"
        required>
      </div>
      <div class="mb-3">
        <input id="inputEmail"
        name="email"
        type="email"
        placeholder="{{ contact_.email.placeholder | default: 'Your best email address' }}"
        class="form-control contact-form__email"
        aria-describedby="emailHelp"
        required>
        <div id="emailHelp" class="form-text contact-form__help">
          {{ contact_.email.help | default: "We'll never share your email with anyone else." }}
        </div>
      </div>
      <textarea id="textMessage"
      name="message"
      class="form-control contact-form__message"
      placeholder="{{ contact_.message.placeholder | default: 'Write your message here' }}"
      style="min-height: 150px"
      required></textarea>
      <small style="display: block; font-size: 8pt; opacity: .6">{{ contact_.message.caracters.warning.content }}</small>
      <!-- TODO: version: 0.3.0 Make reCaptcha change themes instantly -->
      <div id="g-recaptcha" class="g-recaptcha mt-2" data-sitekey="{{ head_.google.recaptcha.pubkey }}" style="display: inline-block; margin: 5px 0;"></div>
      <div class="d-flex justify-content-end mb-5">
        <button id="submitButton"
        type="submit"
        class="btn contact-form__submit">
        {{ contact_.button.text | default: 'Send!' }}
        </button>
      </div>
    </form>
  </div>
  <div class="row">
    <div class="contact-content">{{ content }}</div>
  </div>
</div>

{%- else -%}

<div class="contact-disabled{% if default_.background_focus %} background_focus{% endif %} {% if default_.rounding %} rounding{% endif %}">
  <h1 style="background-color: yellow;color: black;padding: 10px">Warning: Email form disabled</h1>
  <p>To use the email submission form, you need to:</p>
  <p>1 - Copy the script below and implement it in <a href="https://script.google.com" target="_blank">Google Apps Script</a>:</p>
  <blockquote>
    <p>Note1: Don't forget to put your gmail in the script.</p>
    <p>Note2: Without editing the script in Google Apps Script, you need to deploy it again.</p>
  </blockquote>

  {% highlight javascript linenos %}
  // IMPORTANT! You must put your gmail email here.
  const TO_ADDRESS = "YOUR EMAIL GMAIL";

  // Get the secret key from the Script Properties
  const RECAPTCHA_SECRET_KEY = PropertiesService.getScriptProperties().getProperty('RECAPTCHA_SECRET_KEY');

  // Function to validate the reCAPTCHA token
  function validateRecaptcha(token) {
    if (!token) {
      throw new Error("Missing reCAPTCHA token.");
    }
    const url = "https://www.google.com/recaptcha/api/siteverify";
    const payload = {
      secret: RECAPTCHA_SECRET_KEY,
      response: token
    };

    const response = UrlFetchApp.fetch(url, {
      method: "post",
      payload: payload
    });

    const result = JSON.parse(response.getContentText());

    if (!result.success) {
      throw new Error("reCAPTCHA verification failed: " + (result['error-codes'] || 'Unknown error.'));
    }

    return true;
  }


  function doPost(e) {
    try {
      const data = JSON.parse(e.postData.contents);

      // 1. Validate the reCAPTCHA token first!
      validateRecaptcha(data['g-recaptcha-response']);

      // 2. If validation passed, continue with the rest of the code
      const { name, email, message } = data;

      if (!name || !email || !message) {
        throw new Error("Missing form data.");
      }

      const subject = "New website message " + name;
      const htmlBody = `
        <p>You have received a new message from your website.:</p><hr>
        <p><b>Name:</b> ${name}</p>
        <p><b>Email:</b> <a href="mailto:${email}">${email}</a></p>
        <p><b>Message:</b></p>
        <p style="white-space: pre-wrap;">${message}</p><hr>
      `;

      MailApp.sendEmail({
        to: TO_ADDRESS,
        subject: subject,
        htmlBody: htmlBody,
        replyTo: email
      });

      return ContentService
        .createTextOutput(JSON.stringify({ 'result': 'success', 'message': 'Message sent!' }))
        .setMimeType(ContentService.MimeType.JSON);

    } catch (err) {
      Logger.log(err.toString());
      return ContentService
        .createTextOutput(JSON.stringify({ 'result': 'error', 'message': err.toString() }))
        .setMimeType(ContentService.MimeType.JSON);
    }
  }
  {% endhighlight %}

  <p>2 - Create a <a href="https://console.cloud.google.com/security/recaptcha" target="_blank">reCaptcha</a>
  on Google and add the reCaptcha <strong>PRIVATE</strong> key to the <strong>Google Apps Script</strong> script property.</p>
  <p>3 - Copy the reCaptcha <strong>PUBLIC</strong> key and the <strong>Google Apps Script</strong> URL and place them in <strong>_config.yml:</strong></p>

  {% highlight yml linenos %}
  google:
    ###
    ###
    apps_script:
      url: "https://script.google.com/macros/s/BuD..."
    recaptcha:
      pubkey: "8Lci194rAAAAA70Sv..."
  {% endhighlight %}

</div>
{%- endif -%}
