---
layout: compress
---

<!-- Include Data Base  -->
{% include liquid/data %}


{% if site.maintenance.enable == true %}

  {% include maintenance.html %}

{% else %}

<!DOCTYPE html>
<html>
  {% include partials/head.html %}
<body id="top">

  <div class="layout_default layout_default__bg">

    <div class="container layout_default__container">

      <div class="row">

        {% if page.url == "/"  and site.home.terminal.enable == true %}
          <div class="p-0 col-lg-3 sidebar sidebar__bg" style="background-color: {{ loadData.website.terminal.home.background }} !important;">
        {% else %}
          <div class="p-0 col-lg-3 sidebar sidebar__bg">
        {% endif %}
          {% include partials/sidebar.html %}
        </div>
        
        {% if page.url == "/" and site.home.terminal.enable == true %}
          <div class="pt-4 pt-lg-0 col-lg-9 border-l-dashed border-r-dashed layout_default__content" style="border-bottom-right-radius: {{ loadData.website.terminal.home.border_radius }} !important; background-color: {{ loadData.website.terminal.home.background }} !important;">
        {% else %}
          <div class="pt-4 pt-lg-0 col-lg-9 border-l-dashed border-r-dashed layout_default__content">
        {% endif %}
          {{ content }}
        </div>

      </div>

    </div>


  </div>

  {% include partials/footer.html %}
  {% include partials/scripts/default.html %}
</body>
</html>

{% endif %}
