---
layout: default
---

<!-- Include Data Base  -->
{% include liquid/data %}

<div class="p-lg-4 layout_hello">

  {% if site.home.terminal.enable != true %}
  <div class="layout_hello__header">

    <div class="container-fluid">
      <div class="row">
        <h2 class="mb-4 font-weight-bold layout_hello__title">{{ page.title }}<span class="layout_hello__cursor">|</span></h2>
      </div>
    </div>

  </div>
  {% endif %}


  <div class="layout_hello__content">

    {% if site.home.terminal.enable != true %}

    <div class="container-fluid">
      <div class="d-block row">
        {{ content }}
      </div>
    </div>

    {% else %}

    <div class="d-block row">
    <div class="wow fadeInRight intro__terminal {% if site.home.terminal.animation == true %} animation {% endif %}">
      <header class="header">
        <div class="btn header__btn header__btn--red" style="cursor: pointer;" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Opa, te enganei hehe. Esse terminal não é real."></div>
        <div class="btn header__btn header__btn--yellow" style="cursor: pointer;" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Opa, te enganei hehe. Esse terminal não é real."></div>
        <div class="btn header__btn header__btn--green" style="cursor: pointer;" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Opa, te enganei hehe. Esse terminal não é real."></div>
        <div class="title">
          <span class="title__text">{{ loadData.website.terminal.text.user }}@{{ loadData.website.terminal.text.os }}:/home/{{ loadData.website.terminal.text.user }}</span>
        </div>
      </header>
      <section class="body">
        {% comment %} ./brief_description.py {% endcomment %}
        <p class="body__input"><span><span class="body__input__user">{{ loadData.website.terminal.text.user }}</span><span class="body__input__at">@</span><span class="body__input__os">{{ loadData.website.terminal.text.os }}</span>:<span class="body__input__dir">~$</span> python brief_description.py</p>
        {{ content }}
        <p class="body__output"><span><span class="body__output__user">{{ loadData.website.terminal.text.user }}</span><span class="body__output__at">@</span><span class="body__output__os">{{ loadData.website.terminal.text.os }}</span>:<span class="body__output__dir">~$</span></span>
          <span class="layout_hello__cursor">_</span>
        </p>
      </section>
    </div>
  </div>
  
  {% endif %}

  </div>

</div>
