<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>William Canin</title>
  <meta name="description" content="thoughts on programming, digital wellbeing, linux">
  <meta name="author" content="William Canin">
  <meta property="og:title" content="William Canin">
  <meta property="og:locale" content="pt_BR">
  <meta property="og:locale:alternate" content="en_US">
  <meta property="og:description" content="thoughts on programming, digital wellbeing, linux">
  <link rel="canonical" href="https://williamcanin.github.io">
  <meta property="og:url" content="https://williamcanin.github.io">
  <meta property="og:site_name" content="William Canin">
  <meta property="og:type" content="website">
  <meta name="twitter:card" content="summary">
  <meta property="twitter:title" content="William Canin">
  <meta name="robots" content="index, follow">

  <link rel="icon" type="image/png" href="{{ '/assets/images/favicon.png' | relative_url }}">
  <link rel="apple-touch-icon" href="{{ '/assets/images/favicon.png' | relative_url }}">

  <style type="text/css">* { font-size: 12px; font-family: monospace; } a { color: #00e;} .container { max-width: 400px; }</style>
</head>
<body>
  <div class="container">
    man william

    <p>WILLIAM(1)</p>
    {{ content }}
    <p style="margin-top: 80px"><i>"Simplicity is a feature, not a bug."</i></p>
  </div>
</body>
</html>
