---
layout: default
---

{%- include layout/data.liquid -%}

{%- assign menu_separator = default_.separator -%}

<article id="post" class="post{% if default_.background_focus %} background_focus{% endif %} {% if default_.rounding %} rounding{% endif %}" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="row">

    <header class="post-header">
      <h1 class="post-title p-name" itemprop="name headline">»&nbsp;{{ page.title | escape }}</h1>

      <div class="row post-meta">
        <div class="col-sm d-flex justify-content-start">
          <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {%- if datelang_ -%}
            {% datelang page.date format:datelang_.format %}
          {%- else -%}
            {{ page.date | date: "%b %-d, %Y" }}
          {%- endif -%}
          </time>
        </div>
        <div class="col-sm d-flex justify-content-end">
          {%- if page.author -%}
          <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span class="p-author h-card" itemprop="name">
              {{ blog_.post.author | default: "author" }}:&nbsp;{{ page.author }}
            </span>
          </span>
          {%- endif -%}
        </div>
        {%- if reading_time_.enable -%}
        <div class="post-reading_time">
          [&nbsp;{{ page.content | reading_time }}&nbsp;]
        </div>
        {%- endif -%}
      </div>

    </header>

    <div class="post-content e-content" itemprop="articleBody">
      {{ content }}
    </div>

    {%- if page.update_date -%}
      <div class="row post-modified">
        <time class="dt-modified" datetime="{{ page.date | date_to_xmlschema }}" itemprop="dateModified">
          <strong>{{ blog_.post.updated_on | default: "Post updated on" }}:</strong>&nbsp;
          {%- if datelang_ -%}
            {% datelang page.update_date format:datelang_.format %}
          {%- else -%}
            {{ page.date | date: "%b %-d, %Y" }}
          {%- endif -%}
        </time>
      </div>
    {%- endif -%}

    <div class="row post-tags">
      <ul class="tag-list">
      {%- assign tags = page.tags | sort -%}
      <strong>[{{ "tags" | with_class: "spacer" }}]:</strong>
      {%- for tag in tags -%}
        <li class="tag-list__item">
          <a class="tag-list__link" href="{{ '/blog/tags/' | append: tag | relative_url }}">
            {{ tag }}
          </a>
        </li><strong class="separator">{{menu_separator}}</strong>
      {%- endfor -%}
      </ul>
    </div>

  </div>

  <div class="post-end text-center">////&nbsp;end of post&nbsp;////</div>

  <!-- Comments -->
  {%- include layout/disqus.html -%}
  {%- include layout/giscus.html -%}
  <!-- Comments -->

  {%- if blog_.post.related_posts.enable -%}
    {%- assign related_posts_found = "" | split: "," -%}

    {%- for tag in page.tags -%}
      {%- for post in site.tags[tag] -%}
        {%- assign related_posts_found = related_posts_found | push: post -%}
      {%- endfor -%}
    {%- endfor -%}

    {%- assign related_posts = related_posts_found | uniq | where_exp: "item", "item.url != page.url" -%}

    {%- if related_posts.size > 0 -%}
      <div class="row related-posts">
        <h3 class="related-posts-title">[&nbsp;{{ blog_.post.related_posts.title | default: "related posts" }}&nbsp;]</h3>

        <ul class="related-posts-list">
          {%- for post in related_posts limit:5 -%}
            <li class="related-posts-list__item">
              {%- if datelang_ -%}
                <span class="related-posts-list__meta">{% datelang post.date format:datelang_.format %}</span>&nbsp;»&nbsp;
              {%- else -%}
                <span class="related-posts-list__meta">{{ post.date | date: "%b %-d, %Y" }}</span>&nbsp;»&nbsp;
              {%- endif -%}
              <a class="related-posts-list__link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
              {%- if post.draft -%}
                <span class="draft-badge">[&nbsp;this is a draft&nbsp;]</span>
              {%- endif -%}
            </li>
          {%- endfor -%}
        </ul>
      </div>
    {%- endif -%}
  {%- endif -%}

</article>
