---
layout: default
---

{%- include layout/data.liquid -%}

{%- assign menu_separator = default_.separator -%}

<div class="container tag{% if default_.background_focus %} background_focus{% endif %} {% if default_.rounding %} rounding{% endif %}">
  {%- if page.description -%}
    <div class="row">
      <div class="tag-description"><span>»&nbsp;</span>{{ page.description }}</div>
    </div>
  {%- endif -%}

  <div class="row">
    <h1 class="tag-title">[&nbsp;tags&nbsp;]</h1>

    <ul class="tag-list">
      {%- assign tags = site.tags | sort -%}
      {%- for tag in tags -%}
        {%- assign tag_name = tag[0] -%}
        <li class="tag-list__item">
          <a class="tag-list__link" href="{{ '/blog/tags/' | append: tag_name | relative_url }}">
            {% comment %} {{ tag_name }} [{{ tag[1].size }}] {% endcomment %}
            {{ tag_name }}
          </a>
        </li><strong class="separator">{{menu_separator}}</strong>
      {%- endfor -%}
    </ul>

  </div>
</div>
