@use "reset";
@use "typography";

body {
  transition: background-color 0.2s ease, color 0.2s ease;
  background-color: var(--bg-color);
  color: var(--text-color);

  // impede selecionar texto no site
  user-select: none;

  code,
  pre,
  .highlight,
  .code-block-container {
    user-select: text !important;
  }

  .lineno {
    user-select: none !important;
    margin-top: -10px !important;
  }

  a {
    color: var(--primary-color);
    font-weight: normal !important;

    &:hover {
      color: var(--text-color);
    }
  }

  .btn-close {

    &:active,
    &:focus {
      box-shadow: none !important;
      outline: none !important;
    }
  }
}

/* Switch between terminal and simple mode on the home screen */
body[data-terminal-enabled="false"] .home-terminal {
  display: none !important;
}

body[data-terminal-enabled="false"] .home-simple {
  display: block !important;
}

body[data-layout="mobile"] .home-terminal {
  display: none !important;
}

body[data-layout="mobile"] .home-simple {
  display: block !important;
}

.disabled {
  display: none !important;
}

.background_focus {
  @media (min-width: 600px) {
    background-color: var(--background-focus-color) !important;
    border: 2px dotted var(--background-focus-border-color) !important;
    padding: 15px !important;
    // box-shadow: var(--background-focus-box-shadow) !important;
  }
}

.rounding {
  @media (min-width: 600px) {
    border-radius: 10px !important;
  }
}

.rounding-plugins {
  @media (min-width: 600px) {
    border-radius: 8px !important;
  }
}

.spacer {
  padding: 0 .3em;
  opacity: .75;
}

.separator {
  margin-right: 4px;
}

a[target="_blank"]::after {
  content: "🢅";
  font-size: .9em;
  margin-left: 0.25em;
  vertical-align: middle;
}
