/* Enable / Disable Background Featured All Site */
$background-featured-enable: false;

/* Variables Colors Screen */
$background-featured: #EEEEEE;
$content-background-color: #fff;
$sidebar-background-color: #F4F4F4;
$footer-background-color: #FFF8F8;
$footer-border-color: #E8E8E8;
$color-links: #D02525; /* Primary: #D02525; Secondary: #254693; */
$color: #000000;
$highlight-background-color: #fff;
$highlight-border-color: #E8E8E8;